[config]
intensity=5
gapRatio=0.2
outdir=/home/naxo/go/src/github.com/tigernaxo/ATRIwork/utilBins/histSnvToRef
reference=../../testData/AE006468.2.fasta

[file list]
../../testData/S17-114-AE006468.2.SNV.fasta
../../testData/S17-176-AE006468.2.SNV.fasta
../../testData/S17-181-AE006468.2.SNV.fasta
../../testData/S17-182-AE006468.2.SNV.fasta
